// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.mathJax-display, .mathJax-inline {
  overflow-x: scroll;
  max-width: 100%;
  display: block;
}

.highlight pre {
  background-color: #fcf3f3; /* 背景色設為黑色 */
  color: #110303; /* 文字色設為白色 */
}