// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.mathJax-display, .mathJax-inline {
  overflow-x: scroll;
  max-width: 100%;
  display: block;
}

.highlight pre {
  --bg-color: #fcf3f3; /* 默認背景色 */
  --text-color: #110303; /* 默認文字色 */
  background-color: var(--bg-color);
  color: var(--text-color);
}